/* Screen sizes */
:root {
  --xs: 0;
  --sm: 600px;
  --md: 960px;
  --lg: 1280px;
  --xl: 1920px;
}
/* Fonts */
* {
  font-family: "Source Sans Pro", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.computerFont {
  font-family: "Kiwi Maru", serif;
}

/* Main Stylings */
body {
  background-color: var(--c-secondary);
  color: var(--c-on-secondary);
  margin: 0;
}

/* Links */
a {
  color: var(--c-accent-darker);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:hover,
a:visited {
  color: var(--c-extra-darker);
}
.mainContent {
  padding: 1em;
}
table {
  width: 100%;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  -webkit-box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.3);
  border-collapse: collapse;
}
th {
  background: var(--c-accent);
  color: var(--c-on-accent);
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
  background: linear-gradient(
    0deg,
    var(--c-accent-darker) 0%,
    var(--c-accent-lighter) 100%
  );
}
table tr {
  width: 100%;
}
table td {
  border: 1px solid var(--c-primary);
  padding: 0.5em;
}
table > *:first-child > *:first-child > *:first-child {
  border-top-left-radius: 0.5em;
}
table > *:first-child > *:first-child > *:last-child {
  border-top-right-radius: 0.5em;
}

.placeholder-post-container,
table tr td {
  background: rgb(166, 226, 141);
  background: linear-gradient(
    0deg,
    rgba(166, 226, 141, 1) 0%,
    rgba(181, 231, 160, 1) 50%,
    rgba(217, 243, 206, 1) 100%
  );
  transition: all 0.4s ease-in-out;
}
table tr:hover td {
  background: rgb(166, 226, 141);
  background: linear-gradient(
    0deg,
    rgba(210, 240, 198, 1) 0%,
    rgba(218, 243, 207, 1) 50%,
    rgba(235, 249, 230, 1) 100%
  );
  transition: all 0.4s ease-in-out;
}
.placeholder-post-container {
  border: 1px solid var(--c-primary);
  margin-bottom: 1em;
}
.placeholder-user-info > i:first-child {
  background: linear-gradient(
    0deg,
    var(--c-accent-darker) 0%,
    var(--c-accent-lighter) 100%
  );
  display: block;
  padding: 0.25em;
  color: var(--c-on-accent);
}
.placeholder-user-info > .avatar {
  margin: 1em;
}
.avatar {
  height: 6em;
  width: 6em;
  border-radius: 3em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  float: left;
}
.placeholder-user-info > .author {
  font-weight: bold;
  float: left;
}
.placeholder-main-content {
  clear: both;
  border-top: 1px dashed var(--c-primary);
  padding: 1em;
}

button,
input[type="submit"],
a.button {
  border: 0;
  background-color: var(--c-primary);
  color: var(--c-on-primary);
  padding: 0.5em;
  border-radius: 0.5em;
  margin: 0.25em;
  display: inline-block;
}

fieldset {
  border: 1px solid var(--c-tertiary);
  -webkit-box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.3);
}
fieldset legend {
  border: 1px solid var(--c-tertiary);
  border-radius: 0.5em;
}

input[type="text"],
input[type="password"] {
  border-radius: 0.3em;
  padding: 0.3em;
  border: 1px solid var(--c-primary-lighter);
}
